@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Quicksand|Bowlby+One+SC|Fascinate+Inline|Luckiest+Guy|Nosifer');

@keyframes move{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top:50px;
    }
    100%{
        margin-top: 0px;
    }
}

.slide h1{
    font-size: 70px;
    font-family: 'Bowlby One SC', cursive;
}

.slide p{
    font-family: 'Bowlby One SC', cursive;

}

.slide{
    width: 100%;
    text-align: center;
    height:100vh;
    background-position: center;
    background-size: cover;
    background:url('../assets/banner-01.png');
    font-size:30px;
    font-family: 'Bowlby One SC', cursive;

}
.cover{
    height:100%;
    display: flex;
    align-items: center;
    width:100%;
    color:white;
    text-align: center;


}
.titulo{
    font-size:30px;
}
.icono{
    animation: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.cover div{
    width:100%;
}
.logo{
    width:50%;
}
.owl_box{
    margin-top: 30px;
    width: 100%;
    background: url('https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/31948936_2052582124805616_4832497592854118400_n.jpg?_nc_cat=108&_nc_ht=scontent.fmex6-1.fna&oh=4e3e5ec6e69b7691abda086dbee2a345&oe=5C849E90');
    height: 500px;
    background-position: center;
    background-size: cover;
}
.owl_box img{
    width: 100%;
}
/*About*/
.about{
    height:auto;
    padding: 100px 5%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width:100%;

}
.box_about{
    width:300px;
    flex-grow: 1;
    padding: 0 5% 0 5%;
}
.box_about h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 110%;
}
.box_about p{
    font-size: 20px;
}
/*.owl{*/
/*padding: 0 2%;*/
/*}*/
.item img{
    width:auto;
    height:450px;
}
.pad{
    padding: 70px 5% 50px 5%;
    font-family: Avenir;
    color:white;
}
.pad h1{
    color:white;
}
.fix{
    background-position: center;
    background-size: cover;
    height:350px;
}
.fl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}
.fl img{
    width:200px;
    margin: 0 10px;
}


.footer{
    width:100%;
}
.footer_box{
    background-color: #22252a;
    width:100%;
    height:250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer h2{
    color:white;

}
.footer input{
    height:30px;
    width:200px;
    border: none;
    padding: 1% 2%;
    margin: 0 10px;
}
.footer button{
    background-color: #75d21a;
    width:100px;
    height:40px;
    padding: 1% 2%;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 15px;
}
.footer_data{
    height:120px;
    width:80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.ft span{
    margin: 50px 20px;
}
.redes span{
    margin: 0 20px;
    font-size: 35px;
}